:root{
    --c1: rgb(47,152,244);
    --c2: #e60000;
    --c3: #28a745;
    --c4: #f9f9f9;
    --bd1: #bbb;
    --t1: #000;
    /* --c2: rgb(215,0,2);
    --c3: rgb(5,148,24); */
}

*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* overflow: hidden; */
}

body{
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: start;
}
.header-container h1{
    font-size: 36px;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container form{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    align-items: stretch;
    justify-content: stretch;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.form-group:has(input){
    width: 70%;
}

.form-group:has(button){
    width: 30%;
}

.form-group input{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--c1);
    outline: var(--c1);
    font-size: 18px;
}

.form-group button{
    width: 100%;
    border: none;
    outline: var(--c1);
    padding: 20px;
    border-radius: 5px;
    background: var(--c1);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.form-group.reset-form{
    position: relative;
}
.reset-btn{
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.reset-btn svg:hover{
    fill: var(--c2);
}



.main-data-container{
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 30px;
}

.data-container{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid var(--bd1);
    border-radius: 5px;
}
.data-container > div{
    border-bottom: 1px solid var(--bd1);
}
.data-container > div:nth-child(3){
    border-bottom: 0;
}

.data-container *{
    /* color: white; */
    color: var(--t1);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}


.data-container .sub-data{
    /* background: var(--c1); */
    /* width: 100%; */
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.data-container .sub-data strong{
    font-size: 36px;
}

.hate-container strong{
    color: var(--c2);
}
.non-hate-container strong{
    color: var(--c3);
}




.table-container{
    width: 70%;
    /* height: 300px; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border: 1px solid var(--bd1);
}
.table-container table td,th{
    border-bottom: 1px solid var(--bd1);
    padding: 10px;
}
.table-container table th:nth-child(3){
    min-width: 20%;
    width: max-content;
}
tbody tr:last-child td{
    border-bottom: none;
}


.label{
    width: 100%;
    padding: 10px 20px;
    color: var(--c4) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.label.hate-comment{
    background: var(--c2) !important;
}
.label.non-hate-comment{
    background: var(--c3) !important;
}




.loading-container{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}